/* ---------------------------------------------------------------  Estilos Generales  --------------------------------------------------------------- */

body { /* Aplica los estilos según el tema */
    background-color: var(--bg-body) !important; /* Utiliza !important para priorizar estos estilos */
    color: var(--text-color) !important;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Espacio arriba */
}

.carousel-title {
    font-size: 2rem; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.carousel-description {
    font-size: 1.2rem; /* Tamaño de la descripción */
    text-align: center; /* Alineación del texto */
    max-width: 80%; /* Ancho máximo del contenedor de la descripción */
    margin-bottom: 40px; /* Espacio debajo de la descripción */
}

/* ---------------------------------------------------------------  Estilos de Botones  --------------------------------------------------------------- */

.modal-button { /* Estilos personalizados para el botón de la ventana modal */
    margin-left: auto; /* Mover el botón hacia la derecha */
}

#themeButton { /* Estilos para botón de cambio de tema */
    margin-left: 10px; /* Espacio entre el botón de usuario y el de cambio de tema */
}

.btn-primary {
    background-color: #0df2f3; /* Color de fondo del botón */
    border-color: #0df2f3; /* Color del borde del botón */
    color: #4b4545; /* Color del texto del botón */
    border-style: none;
}

.btn-primary:hover {
    background-color: #00D5D6;
    border-color: #00D5D6; /* Color del borde del botón */
    color: white; /* Color del texto del botón */
    border-style: none;
}

.text-color-button { /* Estilos adicionales para el color de texto del botón Descargar */
    color: #4b4545 !important;
}

/* ---------------------------------------------------------------  Estilos de Tema Dark  --------------------------------------------------------------- */

[data-theme="dark"] {
    --bg-body: #343a40; /* Color de fondo del cuerpo */
    --text-color: #ffffff; /* Color del texto */
    --input-bg: #43494e; /* Color de fondo para los input */
    --navbar-bg: #343a40; /* Color de fondo del navbar en modo oscuro */

    /* Agregar estilos para los h1 y h2 en modo oscuro */
    h1, h2 {
        color: #ffffff; /* Cambiar color a blanco */
    }
}

/* Estilos para los input en el modo oscuro */
[data-theme="dark"] input[type="text"],
[data-theme="dark"] input[type="file"],
[data-theme="dark"] select {
    background-color: var(--input-bg);
    color: #ffffff; /* Color del texto en los input */
    border: none; /* Elimina el borde */
}

/* Estilos adicionales para las tarjetas en el modo oscuro */
[data-theme="dark"] .card {
    border: none; /* Elimina el borde */
    background-color: #43494e; /* Cambia el color de fondo */
}

/* Estilos adicionales para los botones en las tarjetas en el modo oscuro */
[data-theme="dark"] .card-body .btn {
    border: none; /* Elimina el borde */
    color: #ffffff; /* Color del texto en modo oscuro */
}

[data-theme="dark"] .card-body .btn-eliminar {
    background-color: darkred; /* Color para el botón de eliminar */
    border-color: darkred; /* Color del borde */
}

/* Estilos adicionales para el texto dentro de las tarjetas en el modo oscuro */
[data-theme="dark"] .card-body {
    color: #ffffff; /* Color del texto en modo oscuro */
}

/* Estilos adicionales para los botones en las tarjetas en el modo oscuro */
[data-theme="dark"] .card-body .btn-card {
    background-color: #228182; /* Color para el botón de intentar */
    border-color: #228182; /* Color del borde */
}

[data-theme="dark"] .card-body .btn-card:hover {
    background-color: #2c7878 ; /* Color para el botón de intentar */
}

[data-theme="dark"] .btn-descarga {
    background-color: #228182 !important; /* Cambia el color de fondo */
    color: white !important;
}

[data-theme="dark"] .btn-descarga:hover {
    background-color: #2C7878 !important; /* Cambia el color de fondo */
}

/* Añade estilos específicos para el botón de sesión en el modo oscuro */
[data-theme="dark"] .btn-primary {
    background-color: #228182; /* Color de fondo del botón */
    border-color: #228182; /* Color del borde del botón */
    color: white; /* Color del texto del botón */
}

[data-theme="dark"] .btn-primary:hover {
    background-color: #2c7878; /* Color de fondo del botón */
}

[data-theme="dark"] .navbar.bg-body-tertiary {
    background-color: #343a40 !important; /* Color de fondo del navbar en modo oscuro */
}

[data-theme="dark"] .navbar.bg-body-tertiary .nav-link {
    color: #ffffff !important; /* Color de los enlaces en modo oscuro */
}

/* Estilos para el modo oscuro */
[data-theme="dark"] .navbar.bg-body-tertiary .navbar-brand {
    color: #ffffff !important; /* Color del enlace en modo oscuro */
}

/* Estilos para el contenido del ejercicio en modo oscuro */
[data-theme="dark"] .code-container {
    color: rgb(3, 3, 3); /* Hereda el color del texto */
    background-color: #5d6e7a; /* Hereda el color de fondo */
}

/* Estilos para la ventana modal en modo oscuro */
[data-theme="dark"] .modal-content {
    background-color: #343A40; /* Cambia el color de fondo de la ventana modal */
    color: #FFFFFF; /* Cambia el color del texto en modo oscuro */
}

/* ---------------------------------------------------------------  Estilos de Tema Light  --------------------------------------------------------------- */

[data-theme="light"] {
    --bg-body: #dde0e0de; /* Color de fondo del cuerpo */
    --text-color: #000000; /* Color del texto */
}

/* Estilos adicionales para los botones en las tarjetas en el modo claro */
[data-theme="light"] .card-body .btn-card {
    background-color: #0df2f3; /* Color para el botón de intentar */
    border-color: #0df2f3; /* Color del borde */
    color: black;
}

[data-theme="light"] .card-body .btn-card:hover {
    background-color: #00D5D6; /* Color para el botón de intentar */
}

[data-theme="light"] .card-body .btn-eliminar {
    background-color: red; /* Color para el botón de eliminar */
    border-color: red; /* Color del borde */
    color: white;
}

[data-theme="light"] .btn-primary {
    background-color: #0df2f3; /* Color de fondo del botón */
    border-color: #0df2f3; /* Color del borde del botón */
    color: black; /* Color del texto del botón */
}

[data-theme="light"] .btn-primary:hover {
    background-color: #00D5D6; /* Color de fondo del botón */
}

/* Estilos para el modo oscuro */
[data-theme="light"] .navbar.bg-body-tertiary {
    background-color: #8d949428   !important; /* Color de fondo del navbar en modo oscuro */
}

[data-theme="light"] .code-container {
    color: rgb(3, 3, 3); /* Hereda el color del texto */
    background-color: #cedeecd0; /* Hereda el color de fondo */
}